<!--固定导航-->
<div class="contact">
    <div class="box">
        <ul>
            <li class="weixin">
                <div class="weixin-logo">
                    <img src="__ImagePath__{$config.qq_url}">
                    QQ{$config.qq}
                </div>
            </li>
            <li class="idea">
                <div class="app-logo1" style="background: url(__ImagePath__<?php echo str_replace('\\','/',$config['wx_url']);?>) no-repeat;"></div>
            </li>
            <li class="app">
                <div class="app-logo" style="background: url(__ImagePath__<?php echo str_replace('\\','/',$config['gg_url']);?>) no-repeat;"></div>
            </li>

            <li id="updown">

            </li>
        </ul>
    </div>